<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><?=title ?></title>
</head>
<body>
<h1>文件服务器测试：</h1>
<div>
    <div>
        <label for="name">姓名：
        </label>
        <input type="text" id="name"/>
    </div>
    <div>
        <label for="love">爱好：
        </label>
        <input type="text" id="love"/>
    </div>
    <button type="submit" id="submit">提交</button>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<div>

    <div>
        筛选条件
        <label for="name1">姓名：
        </label>
        <input type="text" id="name1"/>
        <label for="love1">爱好：
        </label>
        <input type="text" id="love1"/>
        <button type="submit" id="getSubmits">获取提交过的信息</button>
    </div>
    <div>提交过的信息</div>
    <textarea type="text" id="text" style="width: 250px;height: 500px"/></textarea>
</div>
</body>
<script type="text/javascript" src="/assets/js/jquery.min.js"></script>
<script>
    $('#submit').on('click',function(){
        $.ajax({
            type:"POST",
            data:{
                name:$('#name').val(),
                hobby:$('#love').val()
            },
            url:"/formTest",
            dataType:"json",
            success:function(data){
                alert(JSON.stringify(data))
            }
        })
    })
    $('#getSubmits').on('click',function(){
        var postData = {};
        if($('#name1').val()){
            postData.name = $('#name1').val();
        }
        if($('#love1').val()){
            postData.hobby = $('#love1').val();
        }
        $.ajax({
            type:"GET",
            data:postData,
            url:"/getFormTest",
            dataType:"json",
            success:function(data){
                //alert(data)
                $('#text').val(JSON.stringify(data))
            }
        })
    })
</script>
</html>